.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.green {
  color: rgb(69, 214, 69);
    -webkit-text-stroke-width: 0.01em; 
    -webkit-text-stroke-color: black; 
}

.yellow {
  color: rgb(238, 209, 45);
    -webkit-text-stroke-width: 0.01em; 
    -webkit-text-stroke-color: black; 
}

.red {
  color: rgb(173, 55, 55);
    -webkit-text-stroke-width: 0.01em; 
    -webkit-text-stroke-color: black; 
}

.bold {
  font-weight: bold;
}

.gray_bg {
    background-color: #eeecec; 
}

.white_bg {
    background-color: #ffffff; 
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 90%;
  }
  body {
    font-size: small;
  }
}

@media screen and (min-width: 600px) {
  .form-container {
    width: 50%;
  }
  body {
    font-size: medium;
  }
}

body {
    /*background-image:url("../assets/background_meeple2.jpg");*/
    background-color: #000000; 
    margin:auto;
    background-attachment: fixed;
    background-size: 100%;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

img,
picture,
video {
  max-width: 100%;
  height: auto;
}

.header {
    top: 0em;
    position: sticky;
    background-color: #000000; 
}

.button {
    background-color: #a17b0f;
    border: 0.1em solid rgba(27, 31, 35, .15);
    border-radius: 0.6em;
    box-shadow: rgba(27, 31, 35, .1) 0 0.1em 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: small;
    font-weight: bold;
    line-height: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.6em 0.6em;
}

    
.okkazeo_price {
    font-size: larger;
}

.deal_price {
}

#wrapper {
    width: 100%;
    background-color: #000000; 
}

.banner-img {
    width: 50%;
    display: block;
    margin: auto;
}

.nbrTextbox {
    width: 3.5em;
    height: 1.2em;
}

.textbox {
    width: 7em;
    height: 1.2em;
}


/* Style pour le conteneur du formulaire */
.form-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* Style pour le formulaire */
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    gap: 1em;
}   

/* Style pour chaque groupe label + input */
.form-group {
    margin-bottom: 0.5em;
    color: #fff;
}

.sort{
    gap: 1em;
    justify-content: center;
}

.items {
    width: 85%;
    margin-bottom: 1.5em;
}

.item {
  width: 100%;
    flex-wrap: wrap;
    border: solid #000000;
    border-width: thin;
  border-radius: 0.8rem;
}

.game {
  width: 25%;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  gap: 0.5em;
}
.game img {
  margin-left: 0.7em;
}

.seller {
    width: 15%;
}

.shipping {
    width: 20%;
    align-items: flex-start;
}

.ship {
    align-items: flex-start;
    gap: 0.5em;
}

.review {
    gap: 1em;
}

.review a{
    display: flex;
    align-items: center;
}

.deal {
    width: 10%;
    align-items: center;
    gap: 1em;
    font-size: larger;
}

.prices {
    gap: 0.2em;
    width: 15%;
    align-items: left;
    justify-content: center;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

.price {
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.reviews {
    width: 15%;
    gap: 0.5em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}

.pagination {
    justify-content: center;
    color: #fff;
}

.pagination a {
  color: rgb(255, 255, 255);
  float: left;
  border-radius: 0.8rem;
  padding: 0.8em 0.8em;
  text-decoration: none;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.pagination a.active {
  background-color: #a17b0f;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #a17b0f;
}

.average_note {
    font-size: large;
    gap: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.footer {
    justify-content: center;
    gap: 3em;
    background-color: #ffffff;
    margin-top: 3em;
}

.footer a {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}